body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

#root {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

*::-webkit-scrollbar { display: none; }
* { scrollbar-width: none; -ms-overflow-style: none; }